src/main/java/HomeWork1/sandwich.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ingridients">
    <xs:sequence>
      <xs:element name="top" type="xs:string"></xs:element>
      <xs:element name="midlle" type="xs:string" maxOccurs="unbounded"></xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>